body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

h1 {
  margin-top: 0;
  font-size: 18px;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 8px;
}

/* Estilos para o botão "Sim" */
button:nth-of-type(1) {
  background-color: #28a745;
}

/* Estilos para o botão "Não" */
button:nth-of-type(2) {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 16px;
  }

  button {
    font-size: 14px;
    padding: 6px 10px;
    margin-top: 6px;
  }

  /* Ajuste a posição dos botões para empilhar em telas menores */
  button:nth-of-type(1) {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  button:nth-of-type(2) {
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
  }
}
